<div class="events2 display-grid">
	<h1 class="events2__h1">Our Events</h1>
	<div class="events2__cards display-grid margin-center-auto text-align-center">
		<div class="events2__card events2__card1">
			<div class="events2__card_number-rectangle margin-center-auto color-white events2__first-card">18</div>
			<h2 class="">October</h2>
			<h4 class="">Lorem Ipsum is simply</h4>
			<p class="">Lorem Ipsum is simply dummy text of the</br>printing and typesetting industry. Lorem</br> Ipsum has been the industry's standard</br>unchanged</p>
			<button class="events2__card-button background-color-red color-white">MORE</button>
		</div>
		<div class="events2__card events2__card2">
						<div class="events2__card_number-rectangle margin-center-auto events2__second-card color-white">22</div>
			<h2 class="">October</h2>
			<h4 class="">Lorem Ipsum is simply</h4>
			<p class="">Lorem Ipsum is simply dummy text of the</br>printing and typesetting industry. Lorem</br> Ipsum has been the industry's standard</br>unchanged</p>
			<button class="events2__card-button color-white">MORE</button>
		</div>
		<div class="events2__card events2__card3">
						<div class="events2__card_number-rectangle margin-center-auto events2__third-card color-white">28</div>
			<h2 class="">October</h2>
			<h4 class="">Lorem Ipsum is simply</h4>
			<p class="">Lorem Ipsum is simply dummy text of the</br>printing and typesetting industry. Lorem</br> Ipsum has been the industry's standard</br>unchanged</p>
			<button class="events2__card-button color-white">MORE</button>
		</div>
	</div>
</div>