<div class="events display-grid">
	<div class="events__div1 display-grid color-white">
		<div>
			
		</div>
		<div>
			<h1>Donate Now !</h1>
			<p>Lorem Ipsum is simply dummy text.</p>
		</div>
	</div>
	<div class="events__div2 display-grid color-white">
		<form action="" class="float-right">
			<h1>Sign up to newsletter</h1>
			<input type="text" class="events__div2-text-to-input border-0" placeholder="     Enter your email">
			<input type="submit" value="Subscribe" name="Subscribe" class="events__div2-submit border-0 color-white">
			<label for="Subscribe" class="events__div2-label">Lorem Ipsum is simply dummy text of the printing and typeset</br>
ing industry. Lorem Ipsum has been the industry's standard dummy text </label>
		</form>
		<div>
			
		</div>
	</div>
	<div class="events__div3 display-grid color-white">
		<div></div>
		<a href="" class="color-white">Like Now !</a>
	</div>
</div>