<footer class="footer display-grid">
	<div class="footer__menu margin-center-auto">
		<ul class="footer__menu-ul display-inline">
			<li class="footer__menu-li">Home</li>
			<li class="footer__menu-li">About us</li>
			<li class="footer__menu-li">Projects</li>
			<li class="footer__menu-li">Blog</li>
			<li class="footer__menu-li">Events</li>
			<li class="footer__menu-li">Gallery</li>
			<li class="footer__menu-li">Contact Us</li>
		</ul>
	</div>
	<div></div>
	<div></div>
</footer>