<header class="header display-grid max-width-1170px margin-center-auto">
	<img src="images/Logo.svg" alt="" class="header__logo" width="285" height="100">
	<ul class="header__nav display-inline">
		<li class="header__nav-li header__nav-li-active">HOME</li>
		<li class="header__nav-li">ABOUT US</li>
		<li class="header__nav-li">PROJECTS</li>
		<li class="header__nav-li">BLOG</li>
		<li class="header__nav-li">EVENTS</li>
		<li class="header__nav-li">GALLERY</li>
		<li class="header__nav-li">CONTACT US</li>
	</ul>
</header>